body {
	background-color: white;
	color: #fff;
	border: 0;
	margin: 0;
	padding: 0;
}

// ______________________BASE Variables_______________________




// ______________________BASE Elements_______________________




// ______________________BASE front_______________________

